apiVersion: apps/v1
kind: Deployment
metadata:
  name: mcp-for-docs
spec:
  replicas: {{ .Values.minReplicas | int }}
  strategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 1
  selector:
    matchLabels:
      app: mcp-for-docs
  template:
    metadata:
      labels:
        app: mcp-for-docs
    spec:
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{ toYaml . }}
      {{- end }}
      {{- with .Values.imagePullSecret }}
      imagePullSecrets:
        - name: {{ . }}
      {{- end }}
      containers:
        - name: mcp-for-docs
          image: "ghcr.io/appwrite/mcp-for-docs:{{ .Values.version }}"
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          resources:
            requests:
              cpu: 400m
              memory: 1Gi
            limits:
              memory: 1Gi
          env:
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: mcp-for-docs
                  key: openai-api-key
          ports:
            - containerPort: 1234
          startupProbe:
            httpGet:
              path: /
              port: 1234
              scheme: HTTP
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 12
          livenessProbe:
            httpGet:
              path: /
              port: 1234
              scheme: HTTP
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /
              port: 1234
              scheme: HTTP
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
            successThreshold: 1

---

apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: mcp-for-docs
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: mcp-for-docs
  minReplicas: {{ .Values.minReplicas }}
  maxReplicas: {{ .Values.maxReplicas }}
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 80

---

apiVersion: v1
kind: Service
metadata:
  name: mcp-for-docs
spec:
  selector:
    app: mcp-for-docs
  ports:
    - name: http
      port: 80
      targetPort: 1234

---

apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: mcp-for-docs
spec:
  maxUnavailable: {{ .Values.maxUnavailable | int }}
  selector:
    matchLabels:
      app: mcp-for-docs
